/* Lib / Element de Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Variables / Tools */
/* Couleurs : */
/* Polices */
/* FLux : */
/* Tailles : */
/* Typo : */
header nav, header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentation .navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo, header nav, .presentation, .presentation .navigation {
  width: 1200px;
  margin: auto;
}

header nav ul {
  width: 600px;
}

/* General */
body {
  font-family: helvetica, sans sans-serif;
  background: #CFDBD5;
}

/* Layout */
/* Components */
header {
  background: #333533;
  height: 185px;
}

header .logo img {
  max-width: 50%;
}

header nav a {
  color: #CFDBD5;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  padding: 0;
}

header nav ul li a:hover {
  color: #f5cb5c;
}

header nav ul .cv {
  border-left: 1px solid #CFDBD5;
  padding-left: 25px;
}

header nav .connexion {
  border: 1px solid #f5cb5c;
  border-radius: 5px;
  background: #f5cb5c;
  color: #242423;
  font-weight: bold;
  padding: 5px;
  position: relative;
  top: -10px;
}

header nav .connexion:hover {
  color: #242423;
}

.index img {
  max-width: 100%;
}

.presentation {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid grey;
}

.presentation .explication {
  text-align: justify;
  font-size: 1.5rem;
  background-color: #333533;
  color: #EEE6D8;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.presentation .explication h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.presentation .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.presentation .navigation ul li {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #EEE6D8;
  margin: 45px;
  border: 1px solid #333533;
}

.presentation .navigation ul li a {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation .navigation ul li a:hover {
  background-color: #f5cb5c;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.presentation .navigation ul li a span {
  margin: 10px;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */