/* Lib / Element de Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Variables / Tools */
/* Couleurs : */
/* Polices */
/* FLux : */
/* Tailles : */
/* Typo : */
header nav, header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentation .navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo, header nav, .presentation, .plan {
  width: 1200px;
  margin: auto;
}

header nav ul {
  width: 600px;
}

.schema img {
  width: 240px;
}

.structure-html .schema-html {
  width: 420px;
}

.structure-html h2, .structure-html p, .plan-html {
  width: 720px;
}

/* General */
body {
  font-family: helvetica, sans sans-serif;
  background: #CFDBD5;
}

/* Layout */
/* Components */
header {
  background: #333533;
  height: 185px;
}

header .logo img {
  max-width: 50%;
}

header nav a {
  color: #CFDBD5;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  padding: 0;
}

header nav ul li a:hover {
  color: #f5cb5c;
}

header nav ul .cv {
  border-left: 1px solid #CFDBD5;
  padding-left: 25px;
}

header nav ul .deroulant:hover ul {
  z-index: 99999;
  display: list-item;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
}

header nav ul .deroulant:hover ul li {
  background-color: #333533;
  width: 170px;
  padding: 15px;
}

header nav ul .deroulant ul {
  display: none;
}

header nav .connexion {
  border: 1px solid #f5cb5c;
  border-radius: 5px;
  background: #f5cb5c;
  color: #242423;
  font-weight: bold;
  padding: 5px;
  position: relative;
  top: -10px;
}

header nav .connexion:hover {
  color: #242423;
}

.index img {
  max-width: 100%;
}

.presentation {
  padding: 50px 0 50px 0;
}

.presentation .explication {
  text-align: justify;
  font-size: 1.5rem;
  background-color: #333533;
  color: #EEE6D8;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.presentation .explication h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.presentation .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.presentation .navigation ul li {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #EEE6D8;
  margin: 45px;
  border: 1px solid #333533;
}

.presentation .navigation ul li a {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation .navigation ul li a:hover {
  background-color: #f5cb5c;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.presentation .navigation ul li a span {
  margin: 10px;
  font-size: 1.5rem;
}

.detail {
  padding: 50px 0 50px 0;
  background-color: #EEE6D8;
  border-top: 1px solid #333533;
  border-bottom: 1px solid #333533;
}

.detail .detail-explication {
  width: 1200px;
  margin: auto;
  text-align: justify;
  font-size: 1.5rem;
}

.detail .detail-explication p {
  margin: 25px 0 0 0;
}

.plan {
  margin-top: 25px;
  font-size: 1.2rem;
}

.structure-html .schema-html {
  float: right;
}

.structure-html h2, .structure-html p {
  text-align: justify;
}

.plan-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 25px;
  margin-bottom: 20px;
}

.schema {
  margin-bottom: 20px;
}

.schema h3 {
  margin-bottom: 20px;
}

.schema p {
  width: 456px;
  font-size: 1.2rem;
  margin-bottom: 17px;
}

.schema p code {
  color: purple;
}

.schema p .class {
  color: #f5cb5c;
  background-color: #333533;
}

.header img, .footer img {
  float: right;
}

.main img {
  float: left;
  margin-right: 24px;
}

.main p {
  width: 720px;
}
/*# sourceMappingURL=style.css.map */