.code
    @extend %center-component
    background-color: $lightbeige
    code
        color: purple
    .technologie
        text-align: center
        padding: 20px
        .but
            display: inline-block
            border-radius: 10px
            background-color: $lightbeige
            border: none
            border-bottom: 1px solid $lightdark
            color: $lightdark
            text-align: center
            font-size: 1.2rem
            padding: 2px
            cursor: pointer
            margin: 2px
            &:hover
                transform: scale(1.1)
                box-shadow: inset 0 -0.5em 0.5em darken($lightbeige, 5%)
                transition: 0.1s ease-in-out
    .planPage
        font-size: 1rem
    #html, #css, #js
        display: flex
        flex-wrap: wrap
        .container
            @extend %center-component
            overflow: scroll
            height: 900px
            padding: 0
        aside
            display: flex
            flex-direction: column
            @extend %width-20-ecran
            float: left
            margin-left: 15px
            h2
                font-size: 1.2rem
            p, h2
                margin-bottom: 20px
                text-align: justify
            p
                font-size: 1.3rem
                padding: 5px
        .schema
            @extend %width-75-ecran
            margin-left: $ecran * 0.25
            figure
                margin-left: 50px
                margin-right: 25px
                &:hover
                    box-shadow: 0px 0px 10px 0px #000000
            figure, img
                width: $ecran * 0.20
                float: right
            figcaption
                text-align: center
                font-size: 1rem
                font-style: italic
            p
                margin-top: 25px
                text-align: justify
                .class
                    background: $lightdark
                    color: $yellow
                    border-radius: 3px
                    padding: 1px
        .header
            height: 340px
        .main
            height: 950px
            .bg
                height: 60px
            .section
                height: 215px
            .article
                height: 140px


